# Next.js runtime profile
NEXT_APP_ENV=development

# Public frontend variables
NEXT_PUBLIC_API_ENDPOINT=http://localhost:9696/api/v1
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_AUTHORIZED_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id

NEXT_PUBLIC_APP_NAME= Snapi,
NEXT_PUBLIC_COMPANY_NAME= 'Snapi Inc.',
NEXT_PUBLIC_CONTACT_EMAIL= ndtrg281@gmail.com,
NEXT_PUBLIC_JURISDICTION= 'Việt Nam'

# If running frontend separately (without Nginx), you can use:
# NEXT_PUBLIC_API_ENDPOINT=http://localhost:8000/api
# NEXT_PUBLIC_URL=http://localhost:3000