# Next.js runtime profile
NEXT_APP_ENV=development

# Public frontend variables
NEXT_PUBLIC_API_ENDPOINT=http://localhost:9696/api
NEXT_PUBLIC_URL=http://localhost:9696
NEXT_PUBLIC_GOOGLE_AUTHORIZED_REDIRECT_URI=http://localhost:9696/api/auth/google/callback
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id

# If running frontend separately (without Nginx), you can use:
# NEXT_PUBLIC_API_ENDPOINT=http://localhost:8000/api
# NEXT_PUBLIC_URL=http://localhost:3000