.git
.github
.idea
.vscode

**/.DS_Store
**/Thumbs.db

**/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

frontend/.next
frontend/out
frontend/coverage

backend/vendor

**/.env
**/.env.*

backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/storage/framework/testing

backend/bootstrap/cache/*.php
backend/public/storage